<div class="row">
    <h1>Welcome to QuintEssentially..</h1><hr/>
</div>
<div class="row">
    <div class="col-sm-6">
        <a href="/product/list" class="btn btn-success">View all products</a>
    </div>
</div>