<div class="row">
    <h3>Purse wallet communication</h3><hr/>
</div>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/contact/send">
            <div class="form-group row">
                <label for="currency" class="col-sm-4 form-control-label">Currency</label>
                <div class="col-sm-3">
                    <select name="currency" id="currency">
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                        <option value="GBP">GBP</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="allow_open_rounds" class="col-sm-4 form-control-label">Allow open rounds</label>
                <div class="col-sm-3">
                    <select name="allow_open_rounds" id="allow_open_rounds">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="token" class="col-sm-4 form-control-label">Token</label>
                <div class="col-sm-3">
                    <input type="text" name="token" id="token">
                </div>
            </div>
            <div class="form-group row">
                <label for="skin_id" class="col-sm-4 form-control-label">Skin ID</label>
                <div class="col-sm-3">
                    <input type="text" name="skin_id" id="skin_id">
                </div>
            </div>
            <div class="form-group row">
                <label for="player_id" class="col-sm-4 form-control-label">Player ID</label>
                <div class="col-sm-3">
                    <input type="text" name="player_id" id="player_id">
                </div>
            </div>
            <div class="form-group row">
                <label for="country" class="col-sm-4 form-control-label">Country</label>
                <div class="col-sm-3">
                    <select name="country" id="country">
                        <option value="RO">RO</option>
                        <option value="GB">GB</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" name="send" value="send" class="btn btn-secondary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>