<div class="row">
    <h3>Add new product</h3><hr/>
</div>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="/product/add" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="name" class="col-sm-4 form-control-label">Name</label>
                <div class="col-sm-3">
                    <input type="text" name="name" id="name" placeholder="Bread" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-4 form-control-label">Price</label>
                <div class="col-sm-3">
                    <input type="text" name="price" id="price"  placeholder="2.99" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-4 form-control-label">Description</label>
                <div class="col-sm-6">
                    <textarea rows="5" cols="40" id="description" name="description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" name="add" class="btn btn-secondary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>