<div class="row">
    <h3>Edit Product</h3><hr/>
</div>
<div class="row">
    <div class="col-md-6">
        <?php
            if($product instanceof \Application\Entity\Product): ?>
                <form method="POST" action="/product/edit/<?=$id?>" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 form-control-label">Name</label>
                        <div class="col-sm-3">
                            <input type="text" name="name" id="name" value="<?=$product->getName()?>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-4 form-control-label">Price</label>
                        <div class="col-sm-3">
                            <input type="text" name="price" id="price" value="<?=$product->getPrice()?>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-4 form-control-label">Description</label>
                        <div class="col-sm-5">
                            <textarea  rows="5" cols="40" id="description" name="description" value="<?=$product->getDescription()?>">
                                <?=$product->getDescription()?>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" name="edit" value="update" class="btn btn-secondary">Update</button>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <h6>No product with id - <?=$id?> exists in our record</h6>
        <?php endif; ?>
    </div>
</div>