<div class="row">
    <h3>Product listing</h3><hr/>
</div>
<div class="row">
    <div class="col-md-6">
        <?php
            if(count($products)):?>
                <table class="table table-hover">
                    <th>#id</th><th>Name</th><th>Price</th><th>Description</th><th>&nbsp;</th>
                    <?php
                        foreach ($products as $product): ?>
                            <tr>
                                <td><?=$product->getId(); ?></td>
                                <td><?=$product->getName(); ?></td>
                                <td><?=$product->getPrice(); ?></td>
                                <td><?=$product->getDescription(); ?></td>
                                <td>
                                    <a href="/product/edit/<?=$product->getId()?>" title="Edit">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>&nbsp;
                                    <a href="/product/delete/<?=$product->getId()?>" title="Delete">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                    <?php endforeach; ?>
                </table>
            <?php else:?>
                <h3>Sorry no product(s) is available currently</h3>
            <?php endif ?>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="/product/add" class="btn btn-primary">Add Product</a>
    </div>
</div>